<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue3</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app"></div>
  <script>
    const app =Vue.createApp({
      data(){
        return {
          list: [],
          inputValue: ''
        }
      },
      methods: {
        handleBtn(){
         
        },
        addItem(){
          if(this.inputValue){
            this.list.push(this.inputValue)
            this.inputValue = ''
          }else{
            console.log('输入的内容不能为空');
          }
        }
      },
      mounted() {
      },
      template: `
      <div>
        <input v-model="inputValue" />
        <button @click="addItem" :title="inputValue">增加</button>
        <ul>
          <todo-item v-for="(item,index) of list" :content="item" :index="index" />
        </ul>
      </div>

      `
    })

    app.component('todo-item',{
      data(){
        return {
          item: 'dell'
        }
      },
      props: ['content','index'],
      template: `
        <div>{{content}}--{{index}}</div>
      `
    })

    app.mount('#app')
  </script>
</body>
</html>